<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.mapper.ImgMapper">
    <insert id="insertImg">
        insert into campus_img values (null,#{name},#{binData});
    </insert>
</mapper>